    {{!-- <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src = "/js/app.js"></script>
    </head> --}}

    
<header>
        <h1>{{title}}</h1>
        <a href="/">Home</a>
        <a href="/my-tasks">my-tasks</a>
        <a href="/help">help</a>

</header>



